@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #075473;
    --primary-color-dark: #075473;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}
body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-dark: #075473;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

/* ===== Sidebar ===== */
.sideMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sideMenu.close{
    width: 88px;
}

/* ===== Resuable CSS ===== */
.sideMenu .sideMenuText{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}
.sideMenu.close .sideMenuText{
    opacity: 0;
}
.sideMenu .sideImage{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideMenu li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sideMenu li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sideMenu li .icon,
.sideMenu li .sideMenuText{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sideMenu header{
    position: relative;
}
.sideMenu .sideMenuImage img{
    width: 40px;
    border-radius: 6px;
}
.sideMenu header .sideMenuImage{
    display: flex;
    align-items: center;
}
header .sideMenuImage .sideMenuHeaderText{
    display: flex;
    flex-direction: column;
}
.sideMenuHeaderText .sideMenuName{
    font-weight: 600;
}
.sideMenuHeaderText .sideMenuProfession{
    margin-top: -2px;
}
.sideMenu header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}
.sideMenu.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sideMenu header .toggle{
    color: var(--text-color);
}

.sideMenu .sideMenuSelections{
    margin-top: 35px;
}
.sideMenu .sideMenuSearch{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}
.sideMenuSearch input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
}
.sideMenuSearch button{
    border: none;
    background: none;
    cursor: pointer;
}
.sideMenu li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sideMenu li a:hover{
    background-color: var(--primary-color);
}
.sideMenu li a:hover .icon,
.sideMenu li a:hover .sideMenuText{
    color: var(--sidebar-color);
}
body.dark .sideMenu li a:hover .icon,
body.dark .sideMenu li a:hover .sideMenuText{
    color: var(--text-color);
}
.sideMenu .sideMenuOptions{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sideMenuOptions .sideMenuMode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}
.sideMenuOptions .sideMenuMode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.sideMenuOptions .sideMenuMode i{
    position: absolute;
    transition: var(--tran-03);
}
.sideMenuOptions .sideMenuMode i.sun{
    opacity: 0;
}
body.dark .sideMenuOptions .sideMenuMode i.sun{
    opacity: 1;
}
body.dark .sideMenuOptions .sideMenuMode i.moon{
    opacity: 0;
}
.sideMenuOptions .sideMenuMode .sideMenuToggle{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    background: var(--primary-color-light);
    background: var(--primary-color-light);
}
.sideMenuToggle .sideMenuSwitch{
    position:relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}
.sideMenuSwitch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}
body.dark .sideMenuSwitch::before{
    left: 24px;
}

.sectionStock{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}
.sideMenu.close~.sectionStock{
    left: 88px;
    width: calc(100% - 88px);
}

.stockControl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background: var(--body-color);
}

.stockControlContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--sidebar-color);
    transition: height 0.3s ease-in-out;
}

.stockControlContent h1{
    color: var(--text-color);
    margin-bottom: 30px;
}

.stockControlForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    position: relative;
}
.stockControlForms label{
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 16px;
    color: var(--text-color);
    padding: 0 5px;
    pointer-events: none;
    transition: var(--tran-04);
}
.stockControlForms input{
    font-size: 16px;
    padding: 10px;
    background: transparent;
    color: var(--text-color);
    border: 1.2px solid var(--text-color);
    outline: none;
    border-radius: 6px;
    margin-bottom: 20px;
}
.stockControlForms input:focus~label,
.stockControlForms input:valid~label{
    top: -12px;
    font-size: 12px;
    background: var(--sidebar-color);
}

.stockControlForms input,
.stockControlForms select {
    font-size: 16px;
    padding: 10px;
    background: transparent;
    color: var(--text-color);
    border: 1.2px solid var(--text-color);
    outline: none;
    border-radius: 6px;
    margin-bottom: 20px;
}
.stockControlForms select:focus~label,
.stockControlForms select:valid~label{
    top: -12px;
    font-size: 12px;
    background: var(--sidebar-color);
}

#tipoDispositivo {
    color: var(--text-color);
    background: var(--sidebar-color);
}

.stockControButtons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.stockControButtons button{
    align-items: start;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: var(--toggle-color);
    background-color: var(--primary-color-dark);
    transition: var(--tran-05);
}

.stockControButtons button:hover{
    cursor: pointer;
    color: var(--toggle-color);
    background-color: var(--body-color);
}
#observacaoDiv, #tipoDispositivoDiv, #submitButton{
    display: none;
}
.sucesso {
    color: rgb(80, 240, 80);
    border: 1px solid rgb(80, 240, 80);
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-color-light)

}
.erro {
    color: rgb(247, 106, 106);
    border: 1px solid rgb(247, 106, 106);
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-color-light)
}

.sectionAlertForms{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 250px;
    height: 100%;
    width: calc(100% - 250px);
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.8);
    transition: var(--tran-05);
}
.sideMenu.close~.sectionAlertForms{
    left: 88px;
    width: calc(100% - 88px);
}

.formAlertContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza no eixo X e Y */

    padding: 20px;
    width: 40%;
    border-radius: 10px;
    background-color: var(--sidebar-color);
}
.formAlertContainer h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--text-color);
}
.formAlertContainer button a{
    text-decoration: none;
    color: var(--toggle-color);
}
.formAlertContainer button a:hover{
    color: var(--primary-color);
}
.formAlertContainer button{
    margin-top: 10px;
    padding: 10px 20px;
    color: var(--toggle-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formAlertContainer button#cancelarCotacaoBtn{
    color: var(--primary-color);
    background-color: var(--toggle-color);
}
.formAlertContainer button:hover{
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}
.formAlertContainer button#cancelarCotacaoBtn:hover{
    cursor: pointer;
    color: var(--toggle-color);
    background-color: var(--primary-color);
    transition: var(--tran-05);
}


.sectionSearchResult{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 250px;
    height: 100%;
    width: calc(100% - 250px);
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.8);
    transition: var(--tran-05);
}
.sideMenu.close~.sectionSearchResult{
    left: 88px;
    width: calc(100% - 88px);
}

.formSearchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza no eixo X e Y */

    padding: 20px;
    width: 40%;
    border-radius: 10px;

    color: var(--text-color);
    background-color: var(--sidebar-color);  
}
.formSearchContent{
    width: 100%;
    padding: 20px;
    margin: 10px 0 10px 0;

    color: var(--text-color);
}
.closeResultButton{
    width: 120px;
    height: 50px;

    border: none;
    border-radius: 10px;
    cursor: pointer;

    color: var(--toggle-color);
    background-color: var(--primary-color);
}
.closeResultButton:hover{
    color: var(--primary-color);
    background-color: var(--toggle-color);
    transition: var(--tran-04);
}


.stockControlLog {
    position: fixed;
    top: 10px;
    right: -6px;

    width: 300px;
    padding: 15px;

    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--sidebar-color);

    z-index: 1000;
}

.stockControlLog h2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}

.stockControlLog p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text-color);
}