@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #075473;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

/* ===== Sidebar ===== */
.sideMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sideMenu.close{
    width: 88px;
}

/* ===== Resuable CSS ===== */
.sideMenu .sideMenuText{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sideMenu.close .sideMenuText{
    opacity: 0;
}
.sideMenu .sideImage{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideMenu li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sideMenu li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sideMenu li .icon,
.sideMenu li .sideMenuText{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sideMenu header{
    position: relative;
}
.sideMenu .sideMenuImage img{
    width: 40px;
    border-radius: 6px;
}
.sideMenu header .sideMenuImage{
    display: flex;
    align-items: center;
}

header .sideMenuImage .sideMenuHeaderText{
    display: flex;
    flex-direction: column;
}
.sideMenuHeaderText .sideMenuName{
    font-weight: 600;
}
.sideMenuHeaderText .sideMenuProfession{
    margin-top: -2px;
}
.sideMenu header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}
.sideMenu.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sideMenu header .toggle{
    color: var(--text-color);
}
.sideMenu .sideMenuSelections{
    margin-top: 35px;
}
.sideMenu .sideMenuSearch{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}
.sideMenuSearch input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    color: var(--text-color);
}
.sideMenuSearch button{
    border: none;
    background: none;
    cursor: pointer;
}
.sideMenu li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}
.sideMenu li a:hover{
    background-color: var(--primary-color);
}
.sideMenu li a:hover .icon,
.sideMenu li a:hover .sideMenuText{
    color: var(--sidebar-color);
}
body.dark .sideMenu li a:hover .icon,
body.dark .sideMenu li a:hover .sideMenuText{
    color: var(--text-color);
}
.sideMenu .sideMenuOptions{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideMenuOptions .sideMenuMode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}
.sideMenuOptions .sideMenuMode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.sideMenuOptions .sideMenuMode i{
    position: absolute;
    transition: var(--tran-03);
}
.sideMenuOptions .sideMenuMode i.sun{
    opacity: 0;
}

body.dark .sideMenuOptions .sideMenuMode i.sun{
    opacity: 1;
}
body.dark .sideMenuOptions .sideMenuMode i.moon{
    opacity: 0;
}

.sideMenuOptions .sideMenuMode .sideMenuToggle{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    background: var(--primary-color-light);
    background: var(--primary-color-light);
}

.sideMenuToggle .sideMenuSwitch{
    position:relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}

.sideMenuSwitch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .sideMenuSwitch::before{
    left: 24px;
}

.sectionRepos{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}
.sideMenu.close~.sectionRepos{
    left: 88px;
    width: calc(100% - 88px);
}

.reposicao{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 90%;
    height: 100%;

    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background-color: var(--sidebar-color);
}
.reposicao h1{
    margin: 20px;
    color: var(--text-color);
}

.reposControl{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    padding: 10px;
}

.reposControlSearch{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 400px;
    height: 40px;

    border-radius: 8px;
    background: var(--sidebar-color);
    border: 1px solid var(--text-color);
    transition: var(--tran-05);
}
.reposControlSearch input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 30px;
    border-radius: 8px;
    transition: var(--tran-05);
    color: var(--text-color);
    background: var(--sidebar-color);
}
.reposControlSearch button{
    border: none;
    background: none;
    cursor: pointer;
}
.reposControlSearch .icon{
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
}

.reposControlButton button{
    width: 250px;
    height: 40px;

    border-radius: 8px;
    border: 1px solid var(--toggle-color);
    color: var(--toggle-color);
    background-color: var(--primary-color);
}
.reposControlButton button:hover{
    cursor: pointer;
    border: 1px solid var(--toggle-color);
    color: var(--text-color);
    background-color: var(--toogle-color);
    transition: var(--tran-05);
}

.reposItens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    gap: 2px;
}
.reposItensBox{
    display: flex;
    align-items: center;

    width: 20%;
    height: 100px;
    margin: 10px;

    border-radius: 8px;
    border: 1px solid var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reposItensBox .icon{
    font-size: 45px;

    margin: 20px;

    color: var(--text-color);
}
.reposItensBoxContent{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    color: var(--text-color);
}

.reposTable{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 10px;
}
.reposTable table{
    width: 100%;
    border-radius: 8px;
}
.reposTable th{
    color: var(--toggle-color);
    background-color: var(--primary-color);
    border: 1px solid var(--toogle-color);
}
.reposTable td{
    text-align: center;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.reposTable td a{
    color: var(--text-color);
}


.sectionReposForms{
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 250px;
    height: 100%;
    width: calc(100% - 250px);
    z-index: 10;

    background-color: rgba(0, 0, 0, 0.8);
    transition: var(--tran-05);
}
.sideMenu.close~.sectionReposForms{
    left: 88px;
    width: calc(100% - 88px);
}

.formReposContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 40%;
    height: 60%;

    padding: 20px;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--sidebar-color);
}
.formReposContainer h2{
    margin: 40px;
}
#formCotacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
#formCotacao button{
    align-items: start;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: var(--toggle-color);
    background-color: var(--primary-color);
    transition: var(--tran-05);
}
#formCotacao button:hover{
    cursor: pointer;
    color: var(--primary-color-color);
    background-color: var(--body-color);
}
.stockControlForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    position: relative;
}
.stockControlForms label{
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 16px;
    color: var(--text-color);
    padding: 0 5px;
    pointer-events: none;
    transition: var(--tran-04);
}
.stockControlForms input{
    font-size: 16px;
    padding: 10px;
    background: transparent;
    color: var(--text-color);
    border: 1.2px solid var(--text-color);
    outline: none;
    border-radius: 6px;
    margin-bottom: 20px;
}
.stockControlForms input:focus~label,
.stockControlForms input:valid~label{
    top: -12px;
    font-size: 12px;
    background: var(--sidebar-color);
}
.stockControlForms input,
.stockControlForms select {
    font-size: 16px;
    padding: 10px;
    background: transparent;
    color: var(--text-color);
    border: 1.2px solid var(--text-color);
    outline: none;
    border-radius: 6px;
    margin-bottom: 20px;
}
.stockControlForms select:focus~label,
.stockControlForms select:valid~label{
    top: -12px;
    font-size: 12px;
    background: var(--sidebar-color);
}

.closeFormButton {
    display: flex;
    justify-content: flex-end;

    width: 90%;
    margin-bottom: -40px;
    font-size: 36px;
    color: var(--text-color)
  }